{% extends 'category.html' %}
    <h3> carpenter here</h3>
{% block carpenter %}
{% for objects in obj %}
    {% if objects.is_deleted == False %}
    <ul>
        <li style="cursor: pointer;" id="li_{{objects.sid}}_{{objects.spid.id}}">{{objects.service_name}}</li>
        <p id="cost_{{objects.sid}}_{{objects.spid.id}}">{{objects.service_cost}}</p>
        <p id="desc_{{objects.sid}}_{{objects.spid.id}}">{{objects.service_desc}}</p>
        {% for objDesc in desc %}
            {% if objects.sid == objDesc.sid.id %}
            {% if objects.spid.id == objDesc.spid.id %}
                <p id="comment_{{objDesc.sid.id}}_{{objDesc.spid.id}}_{{objDesc.cid.id}}">Comments: {{objDesc.comment_desc}}</p>
                <script>
                    $(document).ready(function(){
                        $("#comment_{{objDesc.sid.id}}_{{objDesc.spid.id}}_{{objDesc.cid.id}}").hide();
                        $("#li_{{objects.sid}}_{{objects.spid.id}}").click(function(){
                            $("#comment_{{objDesc.sid.id}}_{{objDesc.spid.id}}_{{objDesc.cid.id}}").toggle();
                        });
                    });

                </script>
            {% endif %}
            {% endif %}
        {% endfor %}
        <p id="rating_{{objects.sid}}_{{objects.spid.id}}_{{objects.cid}}">Rating :  </p>
                
        {% for key, values in ratings.items %}
            <script>
                console.log("{{key}}");
                var keys = "{{key}}";
                keyCondition = keys.split("_");
                console.log("{{values}}");
                if( "{{objects.sid}}" == keyCondition[0] && "{{objects.spid.id}}" == keyCondition[1])
                {
                    document.getElementById("rating_{{objects.sid}}_{{objects.spid.id}}_{{objects.cid}}").innerHTML = `Rating : {{values}}`;
                    $(document).ready(function(){
                        $("#rating_{{objects.sid}}_{{objects.spid.id}}_{{objects.cid}}").hide();
                        $("#li_{{objects.sid}}_{{objects.spid.id}}").click(function(){
                    $("#rating_{{objects.sid}}_{{objects.spid.id}}_{{objects.cid}}").toggle();
                });
            });
                }  
            </script>
        {% endfor %}
        <button type="submit" onclick="getId(this.id)" id="{{objects.spid.id}}_{{objects.sid}}" name="{{objects.service_name}}">Request Service</button>
    </ul>
    <script>
        $(document).ready(function(){
            $("#cost_{{objects.sid}}_{{objects.spid.id}}").hide();
            $("#desc_{{objects.sid}}_{{objects.spid.id}}").hide();
            $("#{{objects.spid.id}}_{{objects.sid}}").hide();
        $("#li_{{objects.sid}}_{{objects.spid.id}}").click(function(){
            $("#cost_{{objects.sid}}_{{objects.spid.id}}").toggle();
            $("#desc_{{objects.sid}}_{{objects.spid.id}}").toggle();
            $("#{{objects.spid.id}}_{{objects.sid}}").toggle();
        });
        });
    </script>
    {% endif %}
{% endfor%}

<script>
function getId(ids)
{
        var idname , num;
        console.log("iddddd")
        idname = document.getElementById(ids);
        console.log(idname);
        num = ids.split("_");
        //num2 = ids.substring(0,6);
        console.log(num[0]);
        console.log(num[1]);
         $.ajax({
            type:"get",
            url: "/client/showService/",
            data:{
                    token: "{{token}}",
                    provider_id : num[0],
                    service_id : num[1]
                }
        })

        alert("Service Requested!!!")
}
</script>


{% endblock %}