<html>
    <head>
        <title> Category </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
    <div>
        <h3> Categories for You:</h3>

        <ul>
        <form method="POST" action=".">{% csrf_token %}
            <input type="hidden" name="Salon" id="Salon" value="Salon">
           <button type="submit" name="Salon1" id="Salon1"> Salon </button>
           {% block salon %} {% endblock %}
        </form>
        <form method="POST" action=".">{% csrf_token %}
            <input type="hidden" name="Carpenter" id="Carpenter" value="Carpenter">
            <button type="submit" name="Carpenter1" id="Carpenter1"> Carpenter </button>
            {% block carpenter %} {% endblock %}
        </form>
         <form method="POST" action=".">{% csrf_token %}
            <input type="hidden" name="Plumber" id="Plumber" value="Plumber">
            <button type="submit" name="Plumber1" id="Plumber1"> Plumber </button>
            {% block plumber %} {% endblock %}
        </form>
        </ul> 
    </div>
    <button type="button" onclick="location.href='/client/req_service/{{token}}'">Show Requested Service</button>
    </body>
</html>