{% extends "base.html" %}
{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container col-4">
    <h3>Client Login</h3>
    <hr>
    <form action="" method="post" onsubmit="return checkloginData()">{% csrf_token %}
        <div class="fomr-group">
            <label>Email</label>
            <input type="email" name="email" id="email" class="form-control" required placeholder="For ex. yourname@email.com">
        </div>
        <div class="fomr-group">
            <label>Password</label>
            <input type="password" name="password" id="password" class="form-control" required minlength="8" required placeholder="Password">
        </div>
        <br>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
    <br>
    <br>
</div>


<script>
    function checkloginData(){
        var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        
        if (email == ""||email == null){
            swal({
                'title':'Try again!',
                'text': 'Email required',
                'icon': 'warning',
            });
        }
        else{
            if (email.match(mailformat)){
                if (password.length < 8){
                    swal({
                        'title':'Try again!',
                        'text': 'Enter Password at least 8 character password',
                        'icon': 'error',
                    });
                }
                else{
                    
                    $.ajax({
                        type:'POST',
                        url:'/client/login/',
                        dataType: 'json',
                        data : {
                            'email': email,
                            'password':password,
                        },
                        success:function(msg){
                            swal({
                                'title':msg.title,
                                'text': msg.message,
                                'icon': msg.icon,
                            }).then(function(){
                                if(msg.icon=='success'){
                                    window.location = msg.url;
                                }
                                
                            });
                        }
                    });
                    //return true;
                }          
            }
            else{
                swal({
                    'title':'Try again!',
                    'text': 'Invalid Email...',
                    'icon': 'error',
                });
            }
        }
        return false;
    }
</script>
{% endblock %}