<div class="container">
    {% if token %}
        <a href="/client/category/" type="button" class="btn btn-outline-dark">Category</a> |
        <a href="/client/req_service/" type="button" class="btn btn-warning">Show Requested Services</a> |
        <a href="/client/update_password/" type="button" class="btn btn-outline-dark">Change Password</a> |
        <a href="/client/logout/" type="button" class="btn btn-outline-danger">Logout</a>
    {% else %}
        <a href="/client/login" type="button" class="btn btn-outline-warning">Login</a> |
        <a href="/client/register" type="button" class="btn btn-outline-primary">Registration</a>
    {% endif %}
</div>
