{% extends "base.html" %}

{% block title %}
Requested Services
{% endblock %}

{% block content %}
<div class="container">
    <h3> Services Requested </h3>
    <hr>
        {% for objects in c_req %}
        <div id="div_{{objects.service_id.id}}_{{objects.service_provider.id}}">
            <form id="frm_{{objects.service_id.id}}_{{objects.service_provider.id}}" method="POST" action=".">{% csrf_token %}
                {% if objects.is_deleted == False %}
                    <li> {{objects.service_name}} </li>
                    <li> {{objects.service_price}} </li>
                    <li> {{objects.status}} </li>
                    <br>
                    {% if objects.status == "Pending" %}
                    <script>
                        console.log("in if")
                        $(document).ready(function(){
                            $("#{{objects.service_id.id}}_{{objects.cust_id.id}}_{{objects.service_provider.id}}").show();
                        });
                    </script>
                    {% elif objects.status == "Accepted" %}
                    <script>
                        console.log("else")
                        $(document).ready(function(){
                            $("#{{objects.service_id.id}}_{{objects.cust_id.id}}_{{objects.service_provider.id}}").hide();
                        });
                        
                    </script>
                    <a href="/client/chat/{{objects.service_provider.id}}/{{objects.service_id.sid}}/" type="button" class="btn btn-success">Chat</a>
                    
                    {% else %}
                    <script>
                        console.log("else")
                        $(document).ready(function(){
                            $("#{{objects.service_id.id}}_{{objects.cust_id.id}}_{{objects.service_provider.id}}").hide();
                        });
                    </script>
                    {% endif %}
                    <button type="button" class="btn btn-danger" id="{{objects.service_id.id}}_{{objects.cust_id.id}}_{{objects.service_provider.id}}" onclick="deleteService(this.id)">DELETE</button>
                    <br><br>
            </form>

            <form method="POST" action=".">{% csrf_token %}

                    {% if objects.status == "Completed" %}
                    Enter Your Comments: <input type="text" name="{{objects.service_name}}" id="{{objects.service_name}}">
                    <br><br>
                    Enter Your Ratings : <select id="rating_{{objects.service_name}}">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <br><br>
                    <button type="button" id="{{objects.service_name}}_{{objects.service_id.id}}_{{objects.service_provider.id}}" onclick="commentService(this.id)">Comment</button>
                        <script>
                            console.log("complete if")
                            $(document).ready(function(){
                                $("#{{objects.service_name}}").show();
                                $("#{{objects.service_name}}_{{service_id.id}}").show();
                            });
                        </script>
                    {% else %}
                        <script>
                            console.log("complete else")
                            $(document).ready(function(){
                                $("#{{objects.service_name}}").hide();
                                $("#{{objects.service_name}}_{{service_id.id}}").hide();
                            });
                        </script>
                    {% endif %}
                {% endif %}
            </form>
        </div>
        {% endfor %}
</div>
<script>
    function deleteService(ids)
    {
        var sids = ids.split("_")
        console.log(sids);
        
        $.ajax({
                    type:"get",
                    url: "/client/del_Service/",
                    data:{
                            service_id : sids[0],
                            customer_id : sids[1],
                            service_provider : sids[2],
                        }
                })
        document.getElementById("div_"+sids[0]+"_"+sids[2]).remove()
    }

    function commentService(cid)
    {
        console.log("commnt id" , cid);
        commnt = cid.split("_")
        console.log(commnt[0]);
        comDesc = document.getElementById(commnt[0]).value;
        console.log(comDesc);
        rate =document.getElementById("rating_" + commnt[0]).value;
        console.log(rate)
        
        
        $.ajax({
                    type:"get",
                    url: "/client/comments/",
                    data:{
                            customer_id : "{{objects.cust_id}}",
                            service_id : commnt[1],
                            service_name : commnt[0],
                            service_provider : commnt[2],
                            desc : comDesc,
                            rate : rate
                        }
                })
        if("{{context}}" == "")
        {
            console.log("{{context}}");
            console.log("in if");
            document.getElementById("form_" + "{{objects.service_name}}_{{objects.service_id.id}}_{{objects.service_provider.id}}").remove()
            alert("Already Commented!")
        }
        else
        {
            console.log("{{context}}");
            console.log("in else");
            alert("Commented!!")
            document.getElementById("form_" + "{{objects.service_name}}_{{objects.service_id.id}}_{{objects.service_provider.id}}").remove()
        }
    }
</script>
{% endblock %}