{% extends "serviceProvider/base.html" %}

{% block title %}
Requested Services
{% endblock %}

{% block content %}
<div class="container">
    <h3> Services Requested </h3>
    <hr>
    
    {% for service in serviceLS %}
        {{service.id}}
        {{service.service_category}}<br>
    {% endfor %}
    {% for apsr in srprObj.applied_service %}
        
        <ul>
            {% if apsr.status == 'Accepted' %}
            <li>{{apsr.service_id}}</li>
            <li>{{apsr.status}}</li>
            <a href="/serviceprovider/chat/{{apsr.customer_id}}/{{apsr.service_id}}/" type="button" class="btn btn-success">Chat</a>
            {% else %}
            <li>{{apsr.service_id}}</li>
            <li>{{apsr.status}}</li>
            <a href="/serviceprovider/" type="button" class="btn btn-danger">Delete</a>
            {% endif %}
            
        </ul>
        
    {% endfor %}
</div>
{% endblock %}