{% extends "serviceProvider/base.html" %}
{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container col-4">
    <h3>Service Provider Login</h3>
    <hr>
    <form action="" method="post">
        <div class="fomr-group">
            <label>Email</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <div class="fomr-group">
            <label>Password</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
    <br>
    <br>
</div>


<script>
    {% if message %}
        swal({
            title: "{{title}}",
            text: "{{message}}",
            icon: "{{icon}}",
        });
    {% endif %}
</script>
{% endblock %}