{% extends "servicePRovider/base.html" %}

{% block title %}
Change Password
{% endblock %}

{% block content %}
<div class="container">
    <h3> Change Password </h3>
    <hr>
    <div class="row">
        <form action="" method="POST" onsubmit="return checkPass()" class="col-4">{% csrf_token %}
            <div class="form-group">
                <label>Old Password</label>
                <input type="password" name="old_password" id="old_password" minlength="8" class="form-control" required>
            </div>
            <div class="form-group">
                <label>New Password</label>
                <input type="password" name="new_password" id="new_password" minlength="8" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Confim New Password</label>
                <input type="password" name="cnew_password" id="cnew_password" minlength="8" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
</div>

<script>
    function checkPass(){
        var oldpass = document.getElementById('old_password').value;
        var newpass = document.getElementById('new_password').value;
        var cnewpass = document.getElementById('cnew_password').value;
        
        if (oldpass == ""||oldpass == null){
            swal({
                'title':'Try again!',
                'text': 'old Password is require',
                'icon': 'warning',
            });
        }
        else if(newpass == "" || newpass == null){
            swal({
                'title':'Try again!',
                'text': 'New Password is require',
                'icon': 'warning',
            });
        }
        else if(newpass != cnewpass){
            swal({
                'title':'Try again!',
                'text': 'New Password and Confirm New Password are not same',
                'icon': 'warning',
            });
        }
        else{
                if (oldpass.length < 8){
                    swal({
                        'title':'Try again!',
                        'text': 'Enter Old Password at least 8 character password',
                        'icon': 'error',
                    });
                }
                else{
                    if (newpass.length < 8){
                        swal({
                            'title':'Try again!',
                            'text': 'Enter New Password at least 8 character password',
                            'icon': 'error',
                        });
                    }
                    else{
                            $.ajax({
                                type:'POST',
                                url:'/serviceprovider/updatepassword/',
                                dataType: 'json',
                                data : {
                                    'old_password':oldpass,
                                    'new_password': newpass,
                                    'cnew_password':cnewpass,
                                },
                                success:function(msg){
                                    swal({
                                        'title':msg.title,
                                        'text': msg.message,
                                        'icon': msg.icon,
                                    }).then(function(){
                                        if(msg.icon=='success'){
                                            window.location = msg.url;
                                        }
                                        
                                    });
                                }
                            });
                        } 
                    }
                }
            return false;
    }  
</script>
{% endblock %}